.filter-container {
    padding: 20px;
    border: 1px solid #e0e0e0;
    width: 30px;
    min-width: 250px;
    height: auto;
    box-sizing: border-box;
}

.filter-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

.filter-section label {
    display: block;
    margin-bottom: 10px;
}

.filter-section input[type="checkbox"] {
    margin-right: 10px;
}
